<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <title>开源社会网 - 项目详情</title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="/fonts/iconfont.css"/>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/detail.css">

  <!--[if IE 8]>
  <script src="/scripts/common/es5-shim.js"></script>
  <script src="/scripts/common/json2.js"></script>
  <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="u-logo-wrapper pull-left">
      <a href="#">
        <img alt="开源社会网" src="/images/logo.png">
        <span>开源社会网</span>
      </a>
    </div>
    <div class="u-user pull-right">
      <img src="/images/avatar.png" alt="">
      <span>李长如长如…</span>
    </div>
  </div>
</div>
<div class="detail-main">
  <div class="detail-header">
    <h1 class="title">深度学习（机器学习）的下一步如何发展</h1>
    <div class="oper">
      <a href="#"><i class="iconfont icon-guanzhu"></i><span>关注</span></a>
      <a href="#"><i class="iconfont icon-fenxiang"></i><span>分享</span></a>
      <a href="#"><i class="iconfont icon-biaoqian"></i><span>添加书签</span></a>
      <a href="#" class="btn-detail">申请成为参与者</a>
      <a href="#" class="btn-detail">申请成为管理者</a>
      <a href="#" class="btn-detail btn-create"><i class="iconfont icon-zixun"></i><span>创建项目</span></a>
    </div>
    <dl class="info">
      <dt>创建时间：</dt>
      <dd>2016-12-21</dd>
    </dl>
    <dl class="info">
      <dt>隶属项目群：</dt>
      <dd>中国前沿科学大群</dd>
    </dl>
    <dl class="info">
      <dt>管理者：</dt>
      <dd class="text-ellipse">张三、李四、王五、张三、李四、王五、张三、李四、王五、张三、李四、王五、张三、李四、王五、张三、李四、王五、张三、李四、王五、张三、李四、王五、王五、张三、李四、王五、张三、李四、王五、张三、李四、王五</dd>
    </dl>
    <dl class="info">
      <dt>参与者：</dt>
      <dd class="text-ellipse">张大千、李大千、王大千、张大千、李大千、王大千、张大千、李大千、王大千、张大千、王五、张三、李四、王五、张三、李四、王五、张三、李四、王五、李大千、王大千、张大千、李大千、王大千、张大千、李大千、王大千</dd>
    </dl>
    <dl class="info">
      <dt>简介：</dt>
      <dd>机器学习、计算机视觉下一步的创新点在哪里？随着硬件的迭代，神经网络的隐藏层可以越做越多，CNN、DNN参数可以调得越来越准确，人脸识别、图像跟踪等算法准确率提高。</dd>
    </dl>
    <a href="javascript:;" class="fold-up"><i class="iconfont icon-xiangshangjiantou"></i>收起详细信息</a>
    <a href="javascript:;" class="fold-down"><i class="iconfont icon-xiangxiajiantou"></i>展开详细信息</a>
  </div>
  <div class="detail-container">
    <div class="detail-nav">
      <a href="#" class="current">
        <i class="iconfont icon-shouye"></i>
        <span>项目首页</span>
      </a>
      <a href="#">
        <i class="iconfont icon-zixun"></i>
        <span>资讯文章</span>
      </a>
      <a href="#">
        <i class="iconfont icon-chengguo"></i>
        <span>项目成果</span>
      </a>
      <a href="#">
        <i class="iconfont icon-dashiji"></i>
        <span>项目大事记</span>
      </a>
      <a href="#">
        <i class="iconfont icon-diaocha"></i>
        <span>调查投票</span>
      </a>
      <a href="#">
        <i class="iconfont icon-guanli"></i>
        <span>项目管理</span>
      </a>
    </div>
    <div class="detail-content">
      <div class="detail-article">
        <div class="item-pager">
          <div class="form-inline">
            <span class="pager-text">第1页</span>
            <ul class="pagination">
              <li class="disabled">
                <a href="javascript:;" class="hook-go" data-page="1" aria-label="Previous">
                  <span aria-hidden="true" class="glyphicon glyphicon-triangle-left"></span>
                </a>
              </li>
              <li class="active">
                <a class="hook-go" data-page="1" href="javascript:;">1</a>
              </li>
              <li class="">
                <a class="hook-go" data-page="2" href="javascript:;">2</a>
              </li>
              <li class="">
                <a class="hook-go" data-page="3" href="javascript:;">3</a>
              </li>
              <li class="">
                <a class="hook-go" data-page="4" href="javascript:;">4</a>
              </li>
              <li class="">
                <a href="javascript:;" class="hook-go" data-page="4" aria-label="Next">
                  <span aria-hidden="true" class="glyphicon glyphicon-triangle-right"></span>
                </a>
              </li>
            </ul>
            <span class="pager-text">共4页</span>
            <span class="pager-text">
            到
            <input class="form-control hook-page-text" type="text" value="1">
            页
            <button class="btn btn-default hook-btn-go">确定</button>
          </span>
          </div>
        </div>
        <div class="detail-item-wrap">
          <div class="detail-item">
            <div class="detail-item-inner">
              <p>
                近年来，随着深度学习算法的发展，人工智能在识别和感知领域有了长足的进步，机器似乎有了五感，
                能看能听能说话还能动！那么，本期圆桌我们一起来关注人工智能领域的新发展，看看计算机视觉、
                语音识别和机器人领域都发生了什么有趣的进展吧！
              </p>
            </div>
            <div class="detail-item-oper">
              <a href="#"><i class="iconfont icon-tianjia"></i><span>( 2 )</span></a>
              <a href="#"><i class="iconfont icon-xiuding"></i><span>( 2 )</span></a>
            </div>
          </div>
          <div class="detail-item">
            <div class="detail-item-inner">
              <p>从general的角度上来说，前面的高票回答都答得很好了。我想从我的角度细化来讲一下这个问题。不
                是泛泛而谈，而是考虑一些具体的实施方案。除去一些零散的点，research方面我个人目前重点关注以
                下几条线：</p>
            </div>
            <div class="detail-item-oper">
              <a href="#"><i class="iconfont icon-tianjia"></i><span>( 2 )</span></a>
              <a href="#"><i class="iconfont icon-xiuding"></i><span>( 2 )</span></a>
            </div>
          </div>
          <div class="detail-item">
            <div class="detail-item-inner">
              <p>1. 针对特定问题的Unsupervised Learning： GAN自从去年NIPS之后就成了想AlphaGo一样火爆的关
                键词，似乎不搞GAN就不是做ML的一样 :-D 然而，Unsupervised Learning不仅仅有GAN。从我的角
                度来看，GAN这样的东西过于通用而不具有太多实用的价值。（当然这个不绝对，也有不少利用GAN
                思想很漂亮解决实际问题的工作。）我个人更关注的是来自Berkeley和CMU两个组的Unsupervised L
                earning的工作。这些工作的一个特性就是，充分利用了vision数据中的一些特点来寻找Supervision S
                ignal，既可以是motion，也可以是context等等。然而所有这些方法最终都是在PASCAL VOC等这些
                通用的high level vision的数据集上测试，我们觉得是非常不合适的。不同类型的任务，需要的feature
                也应该是大相径庭的。所以，一方面，我们根据想解决的问题，灵活利用这些天然存在的supervision
                signal去设计我们的unsupervised learning算法，使得unsupervised learning的过程能真正帮助我们
                解决存在的问题；另一方面，在我们在做的自动驾驶中，存在更多multi modal的数据。除去RGB图像，
                可能还会有Lidar, GPS, IMU等等。如何交叉利用这些multi modal的信息，寻找最廉价有效的Supervi
                sion Signal，也会是一个很有意义的问题。最终我们希望，通过这些虽然噪声较大，但是廉价的自标
                注数据，大幅度降低对人工标注高精度数据的需求。我们去年最开始的一个尝试，也已经发表在ICRA
                2017上。</p>
            </div>
            <div class="detail-item-oper">
              <a href="#"><i class="iconfont icon-tianjia"></i><span>( 2 )</span></a>
              <a href="#"><i class="iconfont icon-xiuding"></i><span>( 2 )</span></a>
            </div>
          </div>
          <div class="detail-item">
            <div class="detail-item-inner">
              <p>2. 传统问题的一些新的setting：像Object Detection这些传统问题，在众多大神这两年的快速推进中，
                单从性能上而言，已经达到了一个相当不错的阶段。我个人的观点来说，继续压榨这些传统setting，
                边际收益可能会很低。然而，单就detection而言，我们可以衍生出Video Detection，RGBD Detecti
                on，Instance Segmentation等等新的setting。如何利用好这些额外的信息，以比较小的代价获取最
                大的性能提升，对于这些新的setting来说都是非常值得研究的。而且这些新的setting的诞生，其实背
                后都是会有一些实际的应用场景，这些问题兼具研究的价值与实用性。其余一些传统的问题，例如Sem
                antic Segmentation等，也存在这样的情况。</p>
            </div>
            <div class="detail-item-oper">
              <a href="#"><i class="iconfont icon-tianjia"></i><span>( 2 )</span></a>
              <a href="#"><i class="iconfont icon-xiuding"></i><span>( 2 )</span></a>
            </div>
          </div>
        </div>
        <div class="item-pager">
          <div class="form-inline">
            <span class="pager-text">第1页</span>
            <ul class="pagination">
              <li class="disabled">
                <a href="javascript:;" class="hook-go" data-page="1" aria-label="Previous">
                  <span aria-hidden="true" class="glyphicon glyphicon-triangle-left"></span>
                </a>
              </li>
              <li class="active">
                <a class="hook-go" data-page="1" href="javascript:;">1</a>
              </li>
              <li class="">
                <a class="hook-go" data-page="2" href="javascript:;">2</a>
              </li>
              <li class="">
                <a class="hook-go" data-page="3" href="javascript:;">3</a>
              </li>
              <li class="">
                <a class="hook-go" data-page="4" href="javascript:;">4</a>
              </li>
              <li class="">
                <a href="javascript:;" class="hook-go" data-page="4" aria-label="Next">
                  <span aria-hidden="true" class="glyphicon glyphicon-triangle-right"></span>
                </a>
              </li>
            </ul>
            <span class="pager-text">共4页</span>
            <span class="pager-text">
            到
            <input class="form-control hook-page-text" type="text" value="1">
            页
            <button class="btn btn-default hook-btn-go">确定</button>
          </span>
          </div>
        </div>
      </div>
      <div class="detail-aside"></div>
    </div>
  </div>
</div>
</body>
</html>
