<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <title>修订详情</title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="/fonts/iconfont.css"/>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/detail.css">
  <link rel="stylesheet" href="/styles/item-editor.css">

  <!--[if IE 8]>
  <script src="/scripts/common/es5-shim.js"></script>
  <script src="/scripts/common/json2.js"></script>
  <![endif]-->
  <script>
    window.PID = 860758601646182400
  </script>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="u-logo-wrapper pull-left">
      <a href="#">
        <img alt="开源社会网" src="/images/logo.png">
        <span>开源社会网</span>
      </a>
    </div>
    <div class="u-user pull-right">
      <img src="/images/avatar.png" alt="">
      <span>李长如长如…</span>
    </div>
  </div>
</div>
<div class="detail-main">
  <div class="revise-layout mt0">
    <div class="layout-fl">
      <div class="detail-header">
        <h1 class="title">深度学习（机器学习）的下一步如何发展 V1.0</h1>
        <div class="mt10">
          <dl class="info">
            <dt>作者：</dt>
            <dd>张三</dd>
          </dl>
          <dl class="info">
            <dt>创建时间：</dt>
            <dd>2016-12-21</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="layout-fr">
      <div class="detail-header">
        <h1 class="title">深度学习（机器学习）的下一步如何发展 V1.1</h1>
        <div class="mt10">
          <dl class="info">
            <dt>作者：</dt>
            <dd>张三</dd>
          </dl>
          <dl class="info">
            <dt>创建时间：</dt>
            <dd>2016-12-21</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="revise-layout">
    <div class="layout-fl">
      <div class="detail-item" data-paracode="860754666671751168">
        <div class="detail-item-inner">
          <p>
            1. 针对特定问题的Unsupervised Learning： GAN自从去年NIPS之后就成了想AlphaGo一样火爆的关键词，似乎不搞GAN
            就不是做ML的一样 :-D 然而，Unsupervised Learning不仅仅有GAN。从我的角度来看，GAN这样的东西过于通用而不具
            有太多实用的价值。（当然这个不绝对，也有不少利用GAN思想很漂亮解决实际问题的工作。）我个人更关注的是来自
            Berkeley和CMU两个组的Unsupervised Learning的工作。这些工作的一个特性就是，充分利用了vision数据中的一些特点
            来寻找Supervision Signal，既可以是motion，也可以是context等等。然而所有这些方法最终都是在PASCAL VOC等这些
            通用的high level vision的数据集上测试，我们觉得是非常不合适的。不同类型的任务，需要的feature也应该是大相径庭的。
            所以，一方面，我们根据想解决的问题，灵活利用这些天然存在的supervision signal去设计我们的unsupervised learning
            算法。
          </p>
        </div>
      </div>
    </div>
    <div class="layout-fr">
      <div class="detail-item" data-paracode="860754666671751168">
        <div class="detail-item-subject">
          <span>李瑞环 2016-12-12</span>
        </div>
        <div class="detail-item-inner">
          <p>
            1. 针对特定问题的Unsupervised Learning： GAN自从去年NIPS之后就成了想AlphaGo一样火爆的关键词，似乎不搞GAN
            就不是做ML的一样 :-D 然而，Unsupervised Learning不仅仅有GAN。从我的角度来看，GAN这样的东西过于通用而不具
            有太多实用的价值。（当然这个不绝对，也有不少利用GAN思想很漂亮解决实际问题的工作。）我个人更关注的是来自
            Berkeley和CMU两个组的Unsupervised Learning的工作。这些工作的一个特性就是，充分利用了vision数据中的一些特点
            来寻找Supervision Signal，既可以是motion，也可以是context等等。然而所有这些方法最终都是在PASCAL VOC等这些
            通用的high level vision的数据集上测试，我们觉得是非常不合适的。不同类型的任务，需要的feature也应该是大相径庭的。
            所以，一方面，我们根据想解决的问题，灵活利用这些天然存在的supervision signal去设计我们的unsupervised learning
            算法。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="revise-layout">
    <div class="layout-fl">
    </div>
    <div class="layout-fr">
      <div class="detail-item" data-paracode="860754666671751168">
        <div class="detail-item-subject">
          <span>李瑞环 2016-12-12</span>
        </div>
        <div class="detail-item-inner">
          <p>
            <img src="/dist/images/Bitmap.jpg" alt="">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="revise-layout">
    <div class="layout-fl">
      <div class="detail-item" data-paracode="860754666671751168">
        <div class="detail-item-inner">
          <p>从general的角度上来说，前面的高票回答都答得很好了。我想从我的角度细化来讲一
            下这个问题。不是泛泛而谈，我个人更关注的是来自Berkeley和CMU两个组的
            Unsupervised Learning的工作。而是考虑一些具体的实施方案。除去一些零散的点，
            research方面我个人目前重点关注以下几条线：</p>
        </div>
      </div>
    </div>
    <div class="layout-fr">
      <div class="detail-item" data-paracode="860754666671751168">
        <div class="detail-item-subject">
          <span>李瑞环 2016-12-12</span>
        </div>
        <div class="detail-item-inner">
          <p>从general的角度上来说，前面的高票回答都答得很好了。我想从我的角度细化来讲一
            下这个问题。不是泛泛而谈，我个人更关注的是来自Berkeley和CMU两个组的
            Unsupervised Learning的工作。而是考虑一些具体的实施方案。除去一些零散的点，
            research方面我个人目前重点关注以下几条线：</p>
        </div>
      </div>
    </div>
  </div>
  <div class="revise-layout">
    <div class="layout-fl">
      <div class="detail-item" data-paracode="860754666671751168">
        <div class="detail-item-inner">
          <p>1. 针对特定问题的Unsupervised Learning： GAN自从去年NIPS之后就成了想AlphaGo一样火爆的关键词，似乎不搞GAN
            就不是做ML的一样 :-D 然而，Unsupervised Learning不仅仅有GAN。从我的角度来看，GAN这样的东西过于通用而不具
            有太多实用的价值。（当然这个不绝对，也有不少利用GAN思想很漂亮解决实际问题的工作。）我个人更关注的是来自
            Berkeley和CMU两个组的Unsupervised Learning的工作。这些工作的一个特性就是，充分利用了vision数据中的一些特点
            来寻找Supervision Signal，既可以是motion，也可以是context等等。然而所有这些方法最终都是在PASCAL VOC等这些
            通用的high level vision的数据集上测试，我们觉得是非常不合适的。不同类型的任务，需要的feature也应该是大相径庭的。
            所以，一方面，我们根据想解决的问题，灵活利用这些天然存在的supervision signal去设计我们的unsupervised learning
            算法，使得unsupervised learning的过程能真正帮助我们解决存在的问题；另一方面，在我们在做的自动驾驶中，存在更
            多multi modal的数据。除去RGB图像，可能还会有Lidar, GPS, IMU等等。如何交叉利用这些multi modal的信息，寻找最
            廉价有效的Supervision Signal，也会是一个很有意义的问题。最终我们希望，通过这些虽然噪声较大，但是廉价的自标注
            数据，大幅度降低对人工标注高精度数据的需求。</p>
        </div>
      </div>
    </div>
    <div class="layout-fr"></div>
  </div>


  <div class="item-pager">
    <div class="form-inline">
      <span class="pager-text">第1页</span>
      <ul class="pagination">
        <li class="disabled">
          <a href="javascript:;" class="hook-go" data-page="1" aria-label="Previous">
            <span aria-hidden="true" class="glyphicon glyphicon-triangle-left"></span>
          </a>
        </li>
        <li class="active">
          <a class="hook-go" data-page="1" href="javascript:;">1</a>
        </li>
        <li class="">
          <a class="hook-go" data-page="2" href="javascript:;">2</a>
        </li>
        <li class="">
          <a class="hook-go" data-page="3" href="javascript:;">3</a>
        </li>
        <li class="">
          <a class="hook-go" data-page="4" href="javascript:;">4</a>
        </li>
        <li class="">
          <a href="javascript:;" class="hook-go" data-page="4" aria-label="Next">
            <span aria-hidden="true" class="glyphicon glyphicon-triangle-right"></span>
          </a>
        </li>
      </ul>
      <span class="pager-text">共4页</span>
      <span class="pager-text">
            到
            <input class="form-control hook-page-text" type="text" value="1">
            页
            <button class="btn btn-default hook-btn-go">确定</button>
          </span>
    </div>
  </div>
</div>
</body>
</html>
