clearfix()
  zoom: 1
  &:after
    content: ''
    display: block
    height: 0
    clear: both

.text-ellipse
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

a
a:hover
a:active
  color: #333

.detail-main
  margin: 0 auto
  padding: 30px 0
  width: 1100px

.detail-header
  position: relative
  color: #666
  .title
    margin: 0
    font-size: 24px
    color: #333

  .oper
    margin-top: 18px
    line-height: 30px
    font-size: 14px
    .iconfont
    span
      vertical-align: top
    .iconfont
      margin-right: 4px
    a
      display: inline-block
      margin-right: 16px
      color: #666
      &.btn-detail
        box-sizing: border-box
        border: 1px solid #21BD6D
        width: 124px
        height: 30px
        line-height: 30px
        text-align: center
        border-radius: 4px
        color: #21BD6D
        &.btn-create
        &.btn-publish
          position: absolute
          top: 0
          right: 0
          margin-right: 0
          width: 200px
          height: 36px
          line-height: 36px
          background: #21BD6D
          color: #FFF
        &.btn-publish
          background: transparent
          color: #21BD6D

  dl.info
    clearfix()
    line-height: 18px
    dt
      float: left
    &.info-fl
      padding-left: 3em
      dt
        margin-left: -3em

  .fold
    margin-top: 6px
    display: block
    .iconfont
      font-size: 12px
    a
      color: #666

.detail-container
  padding-top: 30px

.detail-nav
  border-bottom: 1px solid #E7E7EB
  height: 46px
  line-height: 46px
  font-size: 0
  a
    display: inline-block
    box-sizing: border-box
    font-size: 14px
    width: 150px
    height: 45px
    line-height: 45px
    text-align: center
    color: #666
    &.current
      border-width: 2px 1px 1px
      border-style: solid
      border-color: #21BD6D #E7E7EB #FFF #E7E7EB
      height: 46px
      font-weight: bold
      color: #21BD6D

.detail-content
  clearfix()

.detail-article
  float: left
  padding-bottom: 40px
  width: 640px
  &.information-article
    padding-bottom: 0
    width: 770px

.detail-item-wrap
  position: relative
  padding-top: 16px

.detail-item
  padding-bottom: 16px
  text-align: justify

  &.current
    .detail-item-inner
      background: #EBFFF6

  .detail-item-inner
    font-size: 16px
    line-height: 1.5
    img
      vertical-align: top
      border: 0
      max-width: 100%
  .detail-item-oper
    height: 22px
    text-align: right
    color: #1BA860
    .oper
      margin-left: 12px
      a
        color: #1BA860
      .iconfont
      span
        vertical-align: top

.item-pager-fixed
  position: fixed
  z-index: 10
  bottom: 0
  width: 640px

.detail-aside
  float: right
  position: relative
  width: 430px

.detail-aside-layer
  position: relative
  border-radius: 4px
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1)
  padding-bottom: 20px
  .header
    box-sizing: border-box
    height: 48px
    line-height: 48px
    border-bottom: 1px solid #E0E2E3
    a
      border-left: 1px solid #E0E2E3
      padding: 0 12px
      color: #999
      &.current
        color: #00AD5A
      &:first-child
        border-left: 0
  .pagination > li > a
  .pagination > li > span
    padding: 6px

  .content
    padding: 0 20px
    overflow: auto
    max-height: 478px

    dl.item
      margin-top: 20px
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid #E0E2E3
      &:last-child
        margin-bottom: 0
        padding-bottom: 0
        border-bottom: 0

      dt
        position: relative
        margin-top: 14px
        padding-left: 45px
        padding-bottom: 4px

        .avatar
          float: left
          margin-left: -45px
          width: 32px
          height: 32px
          border-radius: 50%

        .time
          display: block
          color: #999
          font-size: 12px

        .item-oper
          position: absolute
          top: 0
          right: 0
          margin-top: 4px
          text-align: right
          color: #999
          .support
            margin-left: 0
            margin-right: 6px
            padding-right: 8px;
            border-right: 1px solid #D8D8D8
          a
            margin-left: 6px
            color: #999
            .icon-dianzan1
              color: #21BD6D
      dd
        border-bottom: 1px solid #e7e7e7
        padding-bottom: 4px
        text-align: justify
        p
          margin: 0
        .item-inner
          img
            vertical-align: top
            border: 0
            max-width: 100%
          .hook-more-content
            p
              margin-top: 14px

      .more
        margin-top: 4px

        .hook-more-content
          display: none
        .more-fold
          text-align: right
        &.fold
          .hook-more-content
            display: block
          .hook-fold
            display: none
          .hook-unfold
            display: inline
        a
          color: #999
        .iconfont
          font-size: 12px
        .hook-unfold
          display: none
.revise-layout
  clearfix()
  margin-top: 40px
  .layout-fl
    float: left
    width: 540px
  .layout-fr
    float: right
    width: 540px
  .detail-item
    position: relative
    .detail-item-subject
      position: absolute
      top: -18px
      height: 18px
      line-height: 18px
      color: #21BD6D
