@import "mixin.styl";
/* 项目编辑器 */
.u-panel-style
  border: 1px solid #E9E9E9
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05)
  .panel-body
    padding: 25px

.item-editor-layer
  display: none
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  min-width: 1000px;
  min-height: 100%
  box-sizing: border-box
  background: rgba(0,0,0,.6)
  .item-editor-container
    position: absolute
    top: 50%
    left: 50%
    margin-top: -340px
    margin-left: -500px
    width: 1000px
    height: 680px
    background: #fff
    .item-editor-header
      padding: 0 16px
      height: 50px
      background: #F4F5F9
      h3
        margin: 0
        line-height: 50px
        font-size: 14px
    .item-editor-content
      //border-bottom: 1px solid #E9E9ED

      height: 450px
      overflow-x: hidden
      overflow-y: auto
      background: #fff

    .item-editor-bottom
      .u-btn-group
        background: #F4F5F9


    .item-button-group
      box-sizing: border-box
      width: 100%
      height: 56px
      line-height: 56px
      text-align: center
      background: #fff

      .btn
        min-width: 74px
      .iconfont
        font-size: 12px
    .item-container
      .item-list-wrapper
        padding: 0 40px
    .item-bottom
      height: 200px

.item-list-wrapper
  .item-list
    margin: 0
    padding: 0
    list-style: none;
    color: #000
    .item
      clearfix()
      margin-bottom: 20px
      &:hover
        cursor: pointer
      &:last-child
        margin-bottom: 0
    .checkbox
      float: left
      display: block
      margin: 0
      margin-left: -24px
      margin-top: 4px
      width: 16px
      height: 16px
      background: url(../images/checkbox.png) 0 top / 100% auto no-repeat
      cursor: pointer
      [type=checkbox]
        display: none
      &.checked
        background-position: 0 bottom
    .item-content
      font-size: 16px
      line-height: 1.5
      color: #333
      text-align: justify
      .item-editor-wrap
        display: none
      p
        margin: 5px 0
      img
        vertical-align: top
        max-width: 100%

.u-pager
  height: 50px
  .item-pager
    border-top: 1px solid #e9e9ed;

.u-btn-group
  padding: 15px 0
  text-align: center
  font-size: 0
  background: #fff

  .btn
    margin: 0 10px
    width: 84px

.editor-btn-group
  margin-top: 6px
  text-align: right
  font-size: 0
  .btn
    margin-left: 10px

.btn-wrapper
  display: inline-block
  &:hover
    .tooltip
      display: block
  .tooltip
    display: none
    position: absolute
    left: 50%
    margin-left: -47px
    width: 94px
    opacity: 1
